/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
    --main-font-family: 'Inter-Variable', sans-serif;
    --accent-font-family: 'PressStart2P', monospace;
    --main-text-font-weight: 400;
    --card-title-font-weight: 700;
    --heart-contour-color: black;
    --heart-sparks-color: red;
    --text-color: black;
    --bg-color: white;
    --button-text-color: white;

     --bg-image: repeating-linear-gradient(
        to left, 
        #d3d3d3 0 2px, 
        #d3d3d300 2px 4px), 
        repeating-linear-gradient(
        to bottom,
        #d3d3d3 0 2px, 
        #d3d3d300 2px 4px),
        repeating-linear-gradient(
        to bottom,
        #e7e7e7,
        #1a1a1a 0.01%); 
}